.Header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background: #9bf;
  font-size: 1.5rem;
  img {
    height: 2rem;
  }
  a {
    vertical-align: middle;
  }
}
